.card-category {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.375rem;

}

.card-category::after {
  display: block;
  padding-bottom: 100%;
  content: "";
}

.card-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 60%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  transform: rotate(25deg) translate(18%, -2%);
}

.card-name {
  max-width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  text-transform: capitalize;
  overflow-wrap: break-word;
}